@import url('/static/colors.css');
@import url('/static/fonts.css');

body {
    background-color: var(--background-color);
    margin: 0;
    overflow: overlay;
    margin-bottom: 64px;
}

header {
    height: 80px;
    background-color: var(--primary-color);
    color: var(--base100);
    padding-left: 64px;
    padding-right: 64px;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    
}
main {
    padding-left: 64px;
    padding-right: 64px;
    margin: 0; 
}
.company-name {
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: var(--base100);
    margin: 0;
  }
  
  .mieszka {
    font-family: 'Zilla Slab', serif;
  }
  
  .my {
    font-family: 'Zilla Slab Highlight', serif;
  }

a {
    text-decoration: none;
    color: var(--base100);
}

nav a {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--base100);
    margin: 0 1em;
    text-decoration: none;
}

.property-list {
    margin-top: 48px;
    display: flex;
    justify-content: center; /* Ustawia listę na środku */
    flex-wrap: wrap;
    gap: 64px;

}


h1 {
    font-family: 'Zilla Slab', serif;
    font-weight:200;
    font-size: 40px;
    color: var(--secondary-color);
    margin-top: 72px;
    /* margin-left: 83px; */
}
h2{
    font-family: 'Inter' ,sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    /* color: var(--secondary-color); */
    color: var(--primary-color);
    margin-top: 16px;
    margin-bottom: 8px;
}

p {
    margin: 0;
}

.property-card {
    position: relative;
    width: 350px;
    height: 452px;
    margin: 0;
    padding: 0;
    border-radius: 16px;
    box-shadow: 0px 190px 76px rgba(0, 0, 0, 0.01), 0px 107px 64px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.property-image {
    background-color: antiquewhite;
    height: 250px;  
    margin: 0;
    padding: 0;  
    display: flex;
}
.property-image img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.property-details {
    padding: 0 24px;
    margin: 0;  
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.location {
    font-family: 'Inter' ,sans-serif;
    font-weight:400;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--base800);
    margin: 0;  
    padding: 0;  
}
.area {
    font-family: 'Inter' ,sans-serif;
    font-weight:400;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--base600);
    margin-top: 4px;
    padding: 0;  
}

.price-text {
    font-family: 'Inter' ,sans-serif;
    font-weight:600;
    font-size: 26px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--base800);
    margin-top: 12px;
    margin-bottom: 16px;
    margin-right: 24px;
    padding: 0;  
    text-align: right;
}
/* Card */




.hit-counter {
    position: absolute;
    font-family: 'Inter' ,sans-serif;
    top: 8px;
    right: 8px;
    background-color: var(--base100);  /* Choose a color that stands out */
    color: var(--primary-color);
    padding: 8px 12px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
} 




.property-item {
    border: 1px solid #ddd;
    padding: 1em;
    width: 200px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 400px;
    margin: auto;
}

label, input, textarea, button {
    font-size: 1em;
}


.button {
    font-family: "Inter";
    font-size: 12px;
    width: 80%;
    display: block;
    padding: 12px;
    background-color: var(--secondary-color);
    color: var(--base100);
    border-radius: 24px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto; 
}

.button:hover {
    background-color: #DC3217;
}

/* PROPERTY.HTML */
.container {
    display: flex;
    flex-direction: row; 
    gap: 56px;
    align-items: flex-start; 
    margin-top: 48px;
    flex-wrap: nowrap; 

}

.image-container {
    overflow: hidden;
    align-items: center;
    width: 800px;
    height: 600px;
    border-radius: 24px;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

/* Media query dla małych ekranów */
@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        align-items: center; 
    }

    .image-container {
        width: 100%; 
        height: auto; 
    }
}
.about {
    width: 550px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

.about-extend{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {

    font-family: 'Zilla Slab', serif;   
    font-weight:500;
    font-size: 48px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-color);

}

.location-description {
    font-family: 'Inter' ,sans-serif;
    font-weight:500;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--base800);
    margin-top: 24px;
}

.area-description{
    font-family: 'Inter' ,sans-serif;
    font-weight:500;
    font-size: 16px;
    text-decoration: none;
    color: var(--base500);
    margin-top: 8px;

}

.description{
    font-family: 'Inter' ,sans-serif;
    font-weight:400;
    font-size: 16px;
    text-decoration: none;
    color: var(--base600);
    margin-top: 24px;

}

.price-description{
    font-family: 'Inter' ,sans-serif;
    font-weight:300;
    font-size: 24px;
    text-decoration: none;
    color: var(--base600);

}

strong{
    font-family: 'Inter' ,sans-serif;
    color: var(--base800);
    font-size: 32px;
}
.button-description {
    font-family: "Inter";
    font-size: 16px;
    width: 80%;
    display: block;
    padding: 16px;
    background-color: var(--secondary-color);
    color: var(--base100);
    border-radius: 24px;
    text-align: center;
    text-decoration: none;
    margin-top: 40px;
}

.button-description:hover {
    background-color: #DC3217;
}



/* SIGNUP */

form {
    max-width: 600px; 
    flex: 1; /* Zapewnia, że formularz również zajmuje całą przestrzeń */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Form z przyciskiem na dole */
    
  }
  
.form-group {
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 4px;
    justify-content: space-between;
    gap: 24px;
    width: 100%; 
  }
  
  input {
    flex-grow: 1; 
    max-width: 200px;
    border-radius: 16px;
    border: 2px solid var(--base300);
    padding: 12px;
    color: var(--base800); 
    font-family: "Inter"; 
    box-shadow: none;

  }

  textarea{
    width: 100%; 
    min-height: 164px;  
    height: 200px;  
    border-radius: 16px;
    border: 2px solid var(--base300);
    padding: 8px;
    color: var(--base800);
    font-family: "Inter";
    box-shadow: none;
  }
  
  input:focus, textarea:focus {
    outline: none; /* Usunięcie obramowania przy fokusie */
    border-color: var(--secondary-color); /* Kolor obramowania podczas fokusowania */
  }
  
  input::placeholder, textarea::placeholder {
    font-family: "Inter";
    color: var(--base300);
  }

  .contact-description {
    font-family: "Inter";
    font-size: 16px;
    color: var(--base500);
    margin-top: 16px;
  }
  
  button {
    font-family: "Inter";
    font-size: 16px;
    width: 100%;
    display: block;
    padding: 16px;
    background-color: var(--secondary-color);
    color: var(--base100);
    border-radius: 24px;
    border: none;
    text-align: center;
    text-decoration: none;
    margin-top: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #DC3217;

}
